<!DOCTYPE html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Passion+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Passion+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <title>MoneyWise</title>
    <link type="image/png" href="favicon.png" rel="shortcut icon">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
